<div class="search">
  <%= form_tag(posts_path, :method => 'get') do %>
    <div class="display"><%= submit_tag 'タグ検索', :name => nil, class: "btn btn-outline-info btn-block" %></div>
    <div class="display"><%= text_field_tag :search, '', placeholder: '白ギャル' %></div>
  <% end %>
</div>
<div class="h_select">
<p>あなたの知らないギャルの世界</p>
</div>
<div class="d-flex align-items-center">
  <div class="ml-auto posts_button btn-change">
    <div class="middle">
      <a class="btn btn-outline-info" href="/posts/new" role="button">投稿するンゴ</a>
    </div>
  </div>
</div>
<table class="table table-bordered border-primary table-hover table-sm posts_table">
  <div id="container">
    <% @posts.each do |post| %>   
      <div class="post">
        <%= link_to image_tag(post.img_url, :width => '250'), posts_path(:id) %>
        <p><%= post.title %></p>
        <p>投稿者: <%= post.name %></p>
        <p>タグ: <%= post.tag %></p>
      </div>
    <% end %>
	</div>
  <div class="twitter posts_button">
  　<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-size="large" class="twbtn twitter-share-button" data-text="平成最後のギャルずかんだよ" data-lang="ja" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </a>
  </div>
  <script>
$(function(){
var $container = $('#container');
$container.imagesLoaded( function(){
$container.masonry({
itemSelector : '.post'
});
});
});
</script>

</table>

