<div class="all">
  <div id="index-banner" class="parallax-container">
    <div class="parallax"><img src="/free_gal_dark.jpg" class=""></div>
    <div class="d-flex align-items-center">
      投稿するンゴ
      <div class="ml-auto posts_button change-color">
          <a class="btn btn-outline-info" href="/posts">みんなどんなの投稿してる?</a>
      </div>
    </div>
    <%= form_for @post do |f| %>
        <div class="form-group">
            <%= f.label :name, '投稿者', class: 'form-tag' %>
            <%= f.text_area :name, class: 'form-control' %>
            <small id="poster-tip" class="form-text text-muted">
            </small>
        </div>

        <div class="form-group">
            <%= f.label :title, 'タイトル', class: 'form-tag' %>
            <%= f.text_area :title, class: 'form-control' %>
            <small id="poster-tip" class="form-text text-muted">
            </small>
        </div>

        <div class="form-group">
            <%= f.label :tag, 'タグ', class: 'form-tag' %>
            <%= f.text_area :tag, class: 'form-control' %>
            <small id="poster-tip" class="form-text text-muted">
            </small>
        </div>

        <div class="image">
          <div><%= f.label :img, 'ギャル画' ,class: 'form-tag' %></div>
          <%= f.file_field :img, id: :gal_img, class: '' %>
            <script type="text/javascript">
              $(function() {
              function readURL(input) {
                if (input.files && input.files[0]) {
                  var reader = new FileReader();
                  reader.onload = function (e) {
                    $('#img_prev').attr('src', e.target.result);
                  }
                  reader.readAsDataURL(input.files[0]);
                }
              }
              $("#book_img").change(function(){
                readURL(this);
              });
              });
            </script>
          <%= image_tag @post.img.url, id: :img_prev if @post.img? %>
        </div>

        <div class="form-group">
            <%= f.label :content, 'この子や平成のギャルについての感想を書いてね', class: 'form-tag' %>
            <%= f.text_area :content, class: 'form-control', rows:5 %>
            <small id=content-tip" class="form-text text-muted">
            </small>
        </div>
        <div class="post-outer">
          <div class="post-inner">
            <%= f.submit '投稿してもおけまる水産', class: 'btn btn-info btn-block btn-okemaru' %>
          </div>
        </div>
        <small id="submit-tip" class="form-text text-muted">
        </small>

    <% end %>
  </div>
</div>
