<div class="show-container">
	<div class="show-upper">
		<div class="show-details">
			<div class="show-image"><%= image_tag @post.img.url , :width=>"400"%></div>
			<div class="middle-container">
				<div class="show-author">投稿者: <%= @post.name %></div>
				<div class="show-title">タイトル: <%= @post.title %></div>
				<div class="show-tagu">タグ名: <%= @post.tag %></div>
				<div class="show-review"><p>投稿者の感想:</p> <%= @post.content  %></div>
			</div>
		</div>
	</div>
	<div class="show-lower">
		<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" data-size="large" class="twitter-share-button" data-text="平成最後のギャルずかんだよ" data-lang="ja" data-dnt="true" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
	</div>
</div>
