<!DOCTYPE html>
<html>
  <head>
    <title>GalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
          <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
          <script src="js/materialize.js"></script>
          <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>-->
          <%= stylesheet_link_tag    'application', media: 'all' %>
      
          <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
          <script type="text/javascript" src="masonry.min.js"></script>
          <%= javascript_include_tag 'application' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
           
          
          <!--<script type="text/javascript" src="/masonry.pkgd.min.js"></script>
          <script type="text/javascript" src="/wookmark.min.js"></script>-->

 
        <script>
$(function(){
$('#container').masonry({ //ここには敷き詰めたい要素を囲うidなど指定します。
itemSelector : '.item'  //ここに敷き詰めたい要素のclassを指定します。
});
});
</script>

  </head>
      
  <body>
    <%= yield %>
  </body>
</html>
