<!DOCTYPE html>
<html>
  <head>
    <title>GalProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
      <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <!--<link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
          <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
          <script src="js/materialize.js"></script>
          <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>-->
          <%= stylesheet_link_tag    'application', media: 'all' %>
          <%= javascript_include_tag 'application' %>
          <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>
      
  <body>
    <%= yield %>
  </body>
</html>
